<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <!-- HEADER -->
    <header th:fragment="header">
        <a href="#"><h1 id="header-title" th:text="#{header.title}"></h1></a>
        <form class="button-container-form" th:if="${session != null and session.get('account') != null}" th:action="@{/logout}" method="post">
            <input class="button button-primary" id="logout-button" type="submit" th:value="#{header.button.logout}">
        </form>
    </header>

    <!-- FOOTER -->
    <footer th:fragment="footer">

    </footer>
</body>
</html>