<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Internal Server Error</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<main class="container">
    <section>
        <article>
            <div>
                <h2>500: Internal Server Error</h2>
                <h4>Something terrible happened on our end!</h4>
                <p>Consider opening an issue label bug including steps taken and the url on our GitHub. It really helps us track down these problems</p>
                <div class="row">
                    <a href="https://github.com/GruppeTre/Project-Manager/issues?q=is%3Aissue%20state%3Aopen%20label%3Abug">Github</a>
                </div>
            </div>
        </article>
    </section>
</main>
</body>
</html>