:root {
    --light: #DCDCDD;
    --ash: #C5C3C6;
    --dark-ash: #CCCBCB;
    --dark-blue: #4C5C68;
    --accent: #1985A1;
    --gray: #46494C;
    --warning-red: #C51E3A;
    --bg-color: var(--light);
}

html {
    background-color: var(--bg-color);
    color: var(--gray);
}

.container {
    max-width: 1200px;
}

.login-container {
    max-width: 600px;
}

.login-form {
    margin: 0;
}

button, .button {
    margin: 0;
}

header {
    background-color: var(--gray);
    max-width: 1200px;
    margin: 2em auto 2em;
    padding: 1em 1.5em;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a, header a:hover {
    color: transparent;
    background-color: transparent;
}

#header-title {
    color: var(--light);
    display: inline;
    margin-bottom: 0;
}

#logout-button {
    width: 12em;
}

#index-text p {
    font-size: larger;
    margin: 0;
}

.content-wrapper {
    box-sizing: border-box;
    background-color: var(--ash);
    border-radius: 15px;
    padding: 1.5em;
    margin-bottom: 2em;
}

.form-error-container {
    box-sizing: border-box;
    width: 25em;
    border-radius: 4px;
    padding: 6px 10px;
    margin-bottom: 1.5rem;
    background-color: var(--warning-red);
}

body {
    background-color: #dcdcdd;
}

article {
    padding-bottom: 20px;
}

thead tr {
    background-color: #4c5d68;
    color: #dcdcdd;
}

thead th {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #cccbcb;
}

tbody tr:nth-child(even) {
    background-color: #dcdcdd;
}

tbody td {
    text-align: center;
}

.inline-block{
    display: inline-block;
}

.overview {
    background-color: #c5c3c6;
    border-radius: 20px;
}

.overview-content {
    padding: 1.7em;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1.5em;
}

.project-header article {
    margin: 0;
    padding: 0;
}

.project-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.project-buttons-container .button, .project-buttons-container button  {
    width: 12em;
}

.project-buttons-container a:nth-child(2) {
    margin-top: 1em;
}

.overview_table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    overflow: hidden;
    border-radius: 20px;
    border-style: none;
}

.task-description {
    background-color: var(--dark-ash);
    border-radius: 12px;
    min-height: 5em;
    max-height: 13em;
    width: 40em;
    padding: 0.5em;

    overflow-y: auto;

    white-space: pre-wrap;
    font-family: inherit;
}

details, summary {
    border-radius: 6px;
}

.top-nav a, .project_nav a{
    display: inline-block;
    border-right-style: solid;
    border-right-color: #c5c3c6;
    border-right-width: 2px;
    padding: 5px;
    text-align: center;
    flex-grow: 1;
    color: var(--light);
    text-decoration: none;
}

.top-nav a:last-child, .project_nav a:last-child{
    border-right-style: none;
}

.top-nav, .project_nav {
    display: flex;
    background-color: var(--dark-blue);
    width:100%;
    justify-content: space-evenly;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.button-container-form {
    margin: 0;
    display: inline-block;
}

.form-error-container label {
    color: var(--light);
}

.form-button-container {
    margin-bottom: 1em;
}

.form-button-container .button-primary {
    width: 17em;
}

.hidden {
    visibility: hidden;
}

input, label {
    width: 25em;
    color: var(--gray);
}

summary {
    background-color: var(--dark-blue);
    color: var(--light);
    padding: 0;
    display: list-item;
}

details summary::-webkit-details-marker, details summary::marker {
    color: var(--light);
}

details {
    background-color: var(--light);
}

.multiselect {
    height: 7em;
    width: 25em;
}

details > * {
    padding: 10px;
}

.bold_description{
    font-weight: bold;
    padding-bottom: -5px;
}

details p {
    margin-bottom: -2px;
    padding: 0;
}

article h5 {
    margin: 5px 0 0 0;
}

article p {
    margin-bottom: -2px;
}

.float-right {
    float: right;
}

label.small-info {
    font-size:12px;
    color: var(--dark-blue);
    opacity: 0.5;
}

/* skeleton overrides */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: var(--light);
    background-color: var(--accent);
    border-color: var(--accent); }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: var(--light);
    background-color: var(--accent);
    border-color: var(--dark-blue); }

button.delete-button {
    background-color: var(--warning-red);
    border-color: var(--warning-red);
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
}

button.delete-button:focus, button.delete-button:hover {
    background-color: var(--warning-red);
    border-color: var(--dark-blue);
}
