<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
    <header th:replace="~{fragments/_commonElements :: header}"></header>

    <main class="container">
        <form th:action="@{/account/create}" th:object="${account}" method="post">

            <!-- Error messages -->
            <div th:if="${error}" class="form-error-container">
                <label th:if="${invalidField == 'email'}" th:text="#{form.error.duplicateMail}"></label>
                <label th:if="${invalidField == 'employee'}" th:text="#{form.error.employeeNotFound}"></label>
                <label th:if="${invalidField == 'password'}" th:text="#{form.error.invalidPassword}"></label>
            </div>

            <div>
                <h2 th:text="#{newUser.title}"></h2>
            </div>


            <div class="row">
                <label for="mail" class="form-label" th:text="#{form.label.email}"></label>
                <input id="mail" type="email" th:field="${account.employee.mail}" th:placeholder="#{form.input.email.placeholder}" required pattern="[A-Za-z0-9]+@alphasolutions\.com" th:title="#{form.warning.invalidMailFormat}">
            </div>

            <!-- password -->

            <div class="row">
                <label for="password" class="form-label" th:text="#{form.input.password.placeholder}"></label>
                <input id="password" type="password" th:field="*{password}" th:placeholder="#{form.input.password.placeholder}" required pattern="^\S+$" th:title="#{form.warning.spaces}">
            </div>

            <!-- role -->

            <div class="row">
                <label for="role" class="form-label">Role</label>
                <select id="role" th:type="dropdown" th:field="*{role}">
                    <option th:each="roles : ${roles}" th:value="${roles.name()}" th:text="${roles.value}"/>
                </select>

            </div>

            <!-- BUTTONS -->
            <div class="row">
                <a class="button" href="/overview?viewMode=accounts" th:text="#{form.button.back}"></a>
                <button class="button" type="submit" th:text="#{form.button.submit}"></button>
            </div>
        </form>
    </main>
    <footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>