<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>

<header th:replace="~{fragments/_commonElements :: header}"></header>

<main class="container">

    <form th:action="@{/project/create}" th:object="${project}" method="post">

        <div>
            <h2 th:text="#{newProject.title}"></h2>
        </div>


        <div class="row">
            <label for="name" class="form-label" th:text="Name"></label>
            <input id="name" type="text" th:field="*{name}">
        </div>

        <div class="row">
            <label for="start-date" class="form-label" th:text="'Start Date'"></label>
            <input id="start-date" type="date" th:field="*{start_date}">
        </div>

        <div class="row">
            <label for="end-date" class="form-label" th:text="'End Date'"></label>
            <input id="end-date" type="date" th:field="*{end_date}">
        </div>

        <div>
            <label for="project_lead">Project Lead:</label>
            <select id="project_lead" th:field="${account.employee.mail}">
                <option value="" disabled selected>Vælg konto…</option>
                <option th:each="account : ${accounts}"
                        th:value="${account.employee.mail}"
                        th:text="|${account.employee.firstName} ${account.employee.lastName}|">
                </option>
            </select>
        </div>


        <!-- BUTTONS -->
        <div class="row">
            <a class="button" href="/overview" th:text="#{form.button.back}"></a>
            <button class="button" type="submit" th:text="#{form.button.submit}"></button>
        </div>
    </form>
</main>
</body>
</html>