<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.editTask.title}"></title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<header th:replace="~{fragments/_commonElements :: header}"></header>

<main class="container">
    <section>
        <article>
            <form th:action="@{/project/{projectId}/subproject/{subprojectId}/task/edit(projectId=${projectId}, subprojectId=${subprojectId})}" th:object="${task}" method="post">

                <input type="hidden" name="retrievedProjectId" th:value="${projectId}">
                <input type="hidden" name="retrievedSubProjectId" th:value="${subprojectId}">
                <input type="hidden" th:field="*{id}" th:value="*{id}">

                <div>
                    <h2 th:text="#{editTask.title}"></h2>
                </div>

                <!-- Error messages -->
                <div th:if="${error}" class="form-error-container">
                    <div th:if="${invalidField == 'date'}">
                        <label th:if="${errorId == 3}" th:text="#{form.error.date.startDateAfterEndDate}"></label>
                        <label th:if="${errorId == 4}" th:text="#{form.error.date.endDateInPast}"></label>
                        <label th:if="${errorId == 5}" th:text="#{form.error.date.startDateBeforeSubprojectStartDate}"></label>
                        <label th:if="${errorId == 6}" th:text="#{form.error.date.startDateAfterSubprojectEndDate}"></label>
                        <label th:if="${errorId == 7}" th:text="#{form.error.date.endDateBeforeSubprojectStartDate}"></label>
                        <label th:if="${errorId == 8}" th:text="#{form.error.date.endDateAfterSubprojectEndDate}"></label>
                    </div>
                    <div th:if="${invalidField == 'title'}">
                        <label th:text="#{form.error.taskTitle}"></label>
                    </div>
                    <div th:if="${invalidField == 'employee'}">
                        <label th:text="#{form.error.employee}"></label>
                    </div>
                    <div th:if="${invalidField == 'description'}">
                        <label th:text="#{form.error.description}"></label>
                    </div>
                    <div th:if="${invalidField == 'estimation'}">
                        <label th:text="#{form.error.estimation}"></label>
                    </div>
                </div>

                <!-- task name -->
                <div class="row">
                    <label for="name" class="form-label" th:text="#{form.label.taskName}"></label>
                    <input id="name" type="text" th:field="*{name}" th:value="*{name}" required>
                </div>

                <!-- task description -->
                <div class="row">
                    <label for="description" class="form-label" th:text="#{form.label.taskDescription}"></label>
                    <textarea id="description" th:field="*{description}" th:value="*{description}"></textarea>
                </div>

                <!-- task estimation -->
                <div class="row">
                    <label for="estimation" class="form-label" th:text="#{form.label.taskEstimation}"></label>
                    <input id="estimation" type="text" th:field="*{estimatedDuration}" th:value="*{estimatedDuration}" required>
                </div>

                <!-- task employee -->
                <div class="row">
                    <label for="employee" class="form-label" th:text="#{form.label.taskEmployee}"></label>
                    <label class="small-info" th:text="#{form.label.employeeInfo}"></label>
                    <select class="multiselect" id="employee" name="employeeList" multiple required>
                        <option th:each="t : ${teamMembers}"
                                th:text="${t.firstName} + ' ' + ${t.lastName} + ', ' + ${t.mail}"
                                th:value="${t.mail}"
                                th:attr="selected=${task.accountList.contains(t)}"></option>
                    </select>
                </div>

                <!-- start date -->

                <div class="row">
                    <label for="start-date" class="form-label" th:text="#{form.label.startDate}"></label>
                    <input id="start-date" type="date" name="start_date" th:value="*{startDate}" th:min="${#temporals.format(subproject.startDate, 'yyyy-MM-dd')}" required>
                </div>

                <!-- end date -->

                <div class="row">
                    <label for="end-date" class="form-label" th:text="#{form.label.endDate}"></label>
                    <input id="end-date" type="date" name="end_date" th:value="*{endDate}" th:max="${#temporals.format(subproject.endDate, 'yyyy-MM-dd')}" required>
                </div>

                <!--hidden submit input (so submit button can be outside of form -->
                <input type="submit" id="hidden-submit" class="hidden">
            </form>
            <!-- BUTTONS -->
            <div class="row">
                <!--Back-->
                <a class="button button-primary" th:href="@{/project/view/{id}(id=${projectId})}" th:text="#{form.button.back}"></a>
                <!--Submit-->
                <label class="button button-primary" for="hidden-submit" th:text="#{form.button.submit}"></label>
            </div>
            <!--Delete-->
            <form class="button-container-form" th:action="@{/project/edit/{projectId}/task/delete(projectId=${projectId})}" th:object="${task}" method="post">
                <input id="hidden-id" th:field="*{id}" hidden="hidden">
                <button class="button-primary delete-button" id="delete-button" th:text="#{form.button.delete}"></button>
            </form>

        </article>
    </section>
</main>
<footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>