<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
    <header th:replace="~{fragments/_commonElements :: header}"></header>
    <main class="container">
        <section>
            <article>
                <form th:action="@{/editUser}" th:object="${account}" th:method="post">

                    <input id="id" hidden="hidden" th:field="*{id}">

                    <label for="userName" th:text="#{form.label.email}"></label>
                    <input id="userName" th:type="text" th:field="*{employee.mail}" readonly>

                    <label for="role" th:text="#{form.label.role}"></label>
                    <select id="role" th:type="dropdown" th:field="*{role}">
                        <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.value}"/>
                    </select>

                    <button class="button-primary" th:type="submit" th:text="#{form.button.submit}"></button>
                </form>
                <!-- BUTTONS -->
                <a class="button button-primary" href="/overview" th:text="#{form.button.back}"></a>
                <!--To do -->
                <a class="button button-primary" href="#" th:text="#{form.button.resetPassword}"></a>
            </article>
        </section>
    </main>
    <footer th:replace="~{fragments/_commonElements :: footer}"></footer>
</body>
</html>