<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
</head>


<body>

<!-- Button: create new user -->
<a th:href="@{endpoint:getMethodForView}">
    <button type="button"> Create user </button>
</a>

<!-- navigation bar for list of user -->
<table>
    <!-- 1. tablerow -->
    <tr>
        <th>Navn</th>
        <th>Mail</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>

    <!-- 2. tablerow -->
    <tr th:each="singleObject : ${collectionOfEmployeeAndAccountObjects}">
        <td th:text="${singleObject.name}"></td>
        <td th:text="${singleObject.email}"></td>
        <td th:text="${singleObject.role}"></td>
        <td>
            <a th:href="@{endpoint:getMethodForView}">
                <button type="button">Edit</button>
            </a>
        </td>
    </tr>
</table>


</body>
</html>