<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
</head>

<body>
<main>
    <!-- Navigation links for switching between sections -->
    <nav>
        <a th:href="@{/overview}">Accounts</a>
        <a href="#">Projects</a>
    </nav>

    <!-- Accounts table -->
    <section>
        <article>
            <div>
                <div>
                    <h2 th:text="#{overview.h2.account}"></h2>
                </div>
                <div th:if="${session.account.role.name() == 'ADMIN'}">
                    <a th:href="@{/create}" th:text="#{overview.button.createAccount}"></a>
                </div>
            </div>
            <div>
                <table th:object="${accounts}">
                    <tr>
                        <th th:text="#{overview.text.label.name}"></th>
                        <th th:text="#{overview.text.label.mail}"></th>
                        <th th:text="#{overview.text.label.role}"></th>
                        <th th:text="#{overview.text.label.actions}"></th>
                    </tr>
            <!-- ERROR(?): first_name and last_name resides in the nested employee object -->
                    <tr th:each="a : ${accounts}">
                        <td th:if="${session.account.id != a.id}" th:text="${a.firstName + ' ' + a.lastName}"></td>
                        <td th:if="${session.account.id != a.id}" th:text="${a.mail}"></td>
                        <td th:if="${session.account.id != a.id}" th:text="${a.role.value}"></td>
                        <td>
                            <a th:if="${session.account.id != a.id}" th:href="@{/edit/{id}(id=${a.id})}" th:text="#{overview.button.edit}"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>

    <!-- Projects table -->
    <!--<div th:if="${projects}">
        <h2>Projects</h2>

        <a th:href="@{/project/create}">
            <button type="button">Create project</button>
        </a>

        <table>
            <tr>
                <th>Project name</th>
                <th>Project-lead</th>
                <th>Deadline</th>
            </tr>

            <tr th:each="p : ${projects}">
                <td th:text="${p.name}"></td>
                <td th:text="${p.end_date}"></td>
                <td th:text="${p.email}"></td>

                <td>
                    <a th:href="@{/project/edit/{id}(id=${p.id})}">
                        <button type="button">Edit</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>-->
</main>
</body>
</html>