<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" th:href="@{/style/normalize.css}">
    <link rel="stylesheet" th:href="@{/style/skeleton.css}">
    <link rel="stylesheet" th:href="@{/style/custom.css}">
</head>

<body>
<main>
    <!-- Navigation links for switching between sections -->
    <nav>
        <a href="#">Projects</a>
        <a th:href="@{/overview}">Accounts</a>
    </nav>

    <!-- Accounts table -->
    <section>
        <article>
            <h2>Users</h2>

            <a th:href="@{/create}">
                <button type="button">Create user</button>
            </a>

            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
        <!-- ERROR(?): first_name and last_name resides in the nested employee object -->
                <tr th:each="a : ${accounts}">
                    <td th:text="${a.firstName + ' ' + a.lastName}"></td>
                    <td th:text="${a.mail}"></td>
                    <td th:text="${a.role.value}"></td>
                    <td>
                        <a th:href="@{/edit/{id}(id=${a.id})}">
                            <button type="button">Edit</button>
                        </a>
                    </td>
                </tr>
            </table>
        </article>
    </section>

    <!-- Projects table -->
    <!--<div th:if="${projects}">
        <h2>Projects</h2>

        <a th:href="@{/project/create}">
            <button type="button">Create project</button>
        </a>

        <table>
            <tr>
                <th>Project name</th>
                <th>Project-lead</th>
                <th>Deadline</th>
            </tr>

            <tr th:each="p : ${projects}">
                <td th:text="${p.name}"></td>
                <td th:text="${p.end_date}"></td>
                <td th:text="${p.email}"></td>

                <td>
                    <a th:href="@{/project/edit/{id}(id=${p.id})}">
                        <button type="button">Edit</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>-->
</main>
</body>
</html>