<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body>
<main>
    <!-- Navigation links for switching between sections -->
    <!-- Accounts table -->
    <section class="overview">
        <nav class="top-nav">
            <a th:if="${session.account.role.id == 1}" th:href="@{/overview(viewMode='accounts')}" th:text="#{nav.a.account}"></a>
            <a th:if="${session.account.role.id == 1 || 2}" th:href="@{/overview/projects(viewMode='projects')}" th:text="#{nav.a.project}"></a>
        </nav>
        <article th:if="${viewMode == 'accounts'}">
            <div>
                <div class="inline-block">
                    <label for="search_bar"></label>
                    <input id="search_bar" type="search" th:placeholder="#{overview.search.placeholder}"></h2>
                </div>
                <div th:if="${session.account.role.name() == 'ADMIN'}" class="inline-block">
                    <a th:href="@{/create}" th:text="#{overview.button.createAccount}"></a>
                </div>
            </div>
            <div>
                <table class="overview_table" th:object="${accounts}">
                    <thead>
                        <tr>
                            <th th:text="#{overview.text.label.name}"></th>
                            <th th:text="#{overview.text.label.mail}"></th>
                            <th th:text="#{overview.text.label.role}"></th>
                            <th th:text="#{overview.text.label.actions}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="a : ${accounts}" th:if="${session.account.id != a.id}">
                            <td th:text="${a.firstName + ' ' + a.lastName}"></td>
                            <td th:text="${a.mail}"></td>
                            <td th:text="${a.role.value}"></td>
                            <td>
                                <a th:href="@{/edit/{id}(id=${a.id})}" th:text="#{overview.button.edit}"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </section>

    <!-- Projects table -->
    <div th:if="${viewMode == 'projects'}">
        <h2>Projects</h2>

        <a th:href="@{/project/create}">
            <button type="button">Create project</button>
        </a>

        <table>
            <tr>
                <th>Project name</th>
                <th>Project-lead</th>
                <th>Deadline</th>
            </tr>

            <tr th:each="p : ${projects}">
                <td th:text="${p.name}"></td>
                <td th:text="${p.end_date}"></td>
                <td th:text="${p.email}"></td>

                <td>
                    <a th:href="@{/project/edit/{id}(id=${p.id})}">
                        <button type="button">Edit</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>