<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
    <header th:replace="~{fragments/_commonElements.html :: header}"></header>
    <main class="container">

        <section class="overview" th:object="${project}">

            <nav class="project_nav">
                <a th:href="@{/overview(viewMode=projects)}" th:text="'Go back'"></a>
                <a th:href="@{/project/view/{id}(id=*{id})}" th:text="'Project Overivew'"></a>
                <a href="#" th:text="'Project Statistics'"></a>
                <a href="#" th:text="'Gannt Diagram'"></a>
            </nav>

            <div class="overview-content">

                <div class="project-header">
                    <article>
                        <h5 th:text="*{name}"></h5>
                        <p th:text="#{projectOverviewPage.p.start} + ' ' + *{start_date}"></p>
                        <p th:text="#{projectOverviewPage.p.deadline} + ' ' + *{end_date}"></p>
                        <p th:text="#{projectOverviewPage.p.estimatedDuration} + ' ' + *{sumProjectDuration} + #{projectOverviewPage.p.hours}"></p>
                    </article>
                    <a class="button button-primary" th:href="@{/project/{projectId}/subProject/create (projectId=${project.id})}" th:text="'Add Subproject'"></a>
                </div>

                <article th:if="*{!subProjectsList.isEmpty}" th:each="sb : ${project.getSubProjectsList()}">
                    <details>
                        <summary th:text="${sb.name}"></summary>
                        <div class="collapsed-content">
                            <div class="project-header">
                                <article>
<!--                                    <h3 th:text="'Sub-project info:'"></h3>-->
                                    <p th:text="#{projectOverviewPage.p.start} + ' ' + *{start_date}"></p>
                                    <p th:text="#{projectOverviewPage.p.deadline} + ' ' + ${sb.end_date}"></p>
                                    <p th:text="#{projectOverviewPage.p.estimatedDuration} + ' ' + ${sb.sumDuration} + #{projectOverviewPage.p.hours}"></p>
                                </article>
                                <div class="project-buttons-container">
                                    <!-- Edit link/button -->
                                    <a class="button button-primary" th:href="@{/project/edit/subProject}" th:text="#{overview.button.edit}"></a>
                                    <!-- Add Task link/button -->
                                    <a class="button button-primary" th:href="@{/project/task/create}" th:text="#{projectOverviewPage.button.addTask}"></a>

                                <!-- Delete subproject -->
                                    <form th:action="@{/project/{projectId}/subProject/{subProjectId}/delete (projectId=${project.id}, subProjectId=${sb.id})}" th:object="${project}" method="post">
                                        <button class="button-primary delete-button" id="delete-button" th:text="#{form.button.delete}"></button>
                                    </form>
                                </div>

                            </div>
                            <article class="task-list" th:each="task : ${sb.getTaskList()}">
                                <details>
                                    <summary th:text="${task.name}"></summary>
                                    <div class="collapsed_content">
                                        <div class="project-header">
                                            <article>
                                                <h5 th:text="#{projectOverviewPage.h.details}"></h5>
                                                <p th:text="#{projectOverviewPage.p.start} + ' ' + *{start_date}"></p>
                                                <p th:text="#{projectOverviewPage.p.deadline} + ' ' + ${task.end_date}"></p>
                                                <p th:text="#{projectOverviewPage.p.employees} + ' ' + ${task.accountsToString()}"></p>
                                                <p th:text="#{projectOverviewPage.p.estimatedDuration} + ' ' + ${task.estimatedDuration} + #{projectOverviewPage.p.hours}"></p>
                                            </article>
                                            <div class="project-buttons-container">
                                                <a class="button button-primary" href="#" th:text="#{overview.button.edit}"></a>
                                                <a class="button button-primary" href="#" th:text="#{projectOverviewPage.button.timespend}"></a>
                                            </div>
                                        </div>
                                        <div class="task-description-wrapper">
                                            <h5 th:text="#{projectOverviewPage.h.description}"></h5>
                                            <div class="task-description" th:text="${task.description}"></div>
                                        </div>
                                    </div>
                                </details>
                            </article>
                        </div>
                    </details>
                </article>
                <article th:if="*{subProjectsList.isEmpty}">
                    <p>No subprojects found!</p>
                </article>
            </div>
        </section>
        <footer th:replace="~{fragments/_commonElements.html :: footer}"></footer>
    </main>
</body>
</html>